<!DOCTYPE html>
  <html>
  <head>
    <title>Dealer Contact</title>
    <%= stylesheet_link_tag 'dealerapp2' %>
	<%= stylesheet_link_tag 'print', :media => 'print' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
  
    <div id="main">
 
    <%= yield %>
 
    </div>
 
  </body>
  </html>
